<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>基本列表</title>
        <script src="../js/vueOnline.js"></script>
</head>

<body>
        <div id="root">
                <!-- 遍历数组 -->
                <h2>人员列表</h2>
                <ul>
                        <li v-for="(i, index) in persons" :key="index">
                                {{i.name}}-{{i.age}}
                        </li>
                </ul>
                <!-- 遍历对象 -->
                <h2>游戏介绍</h2>
                <ul>
                        <li v-for="(value,key) in game" :key="key">
                                {{value}}--{{key}}
                        </li>
                </ul>
                <!-- 遍历字符串 -->
                <!-- 遍历指定次数 -->
        </div>
        <script>

                Vue.config.productionTip = false;
                new Vue({
                        el: '#root',
                        data: {
                                name: 'Fan_yi',
                                persons: [
                                        { id: '001', name: '张一', age: 17 },
                                        { id: '002', name: '张二', age: 18 },
                                        { id: '003', name: '张三', age: 19 }
                                ],
                                game: {
                                        name: '王者荣耀',
                                        isFun: 'no'
                                }
                        }
                })
        </script>
</body>

</html>