<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>计算属性简写-姓名案例</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
        <div id="root">
                姓：<input type="text" v-model="firstName"><br>
                名：<input type="text" v-model="lastName"><br>
                全名：<span>{{fullName}}</span>

        </div>
        <script>

                Vue.config.productionTip = false;//设置为 false 以阻止 vue 在启动时生成生产提示。
                const vm = new Vue({
                        el: '#root',
                        data: {
                                firstName: '张',
                                lastName: '三',
                                fullName: '张-三'
                        },
                        watch: {
                                firstName(newValue, oldValue) {
                                        this.fullName = newValue + '-' + this.lastName
                                },
                                lastName(newValue, oldValue) {
                                        this.fullName = this.firstName + '-' + newValue
                                }
                        },
                })
        </script>
</body>

</html>